.cards__item {
  overflow-y: hidden;

  width: 320px;
  padding-bottom: 15px;

  background: #ffffff;

  border-radius: 30px;

  box-shadow: 5px 5px 10px #96d5eb, -5px -5px 10px #f7f6f5;

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.modal img {
  max-width: 500px;
}

.close {
  float: right;
}
