.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  width: max-content;
  margin: 0 auto 30px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

@media (max-width: 430px) {
  label {
    flex-direction: column;
  }
}

.flex__container {
  display: flex;
  column-gap: 20px;
}

@media (max-width: 430px) {
  .flex__container {
    justify-content: space-between;
    width: 100%;
  }
}

.isAgreed {
  width: max-content;
}

@media (max-width: 430px) {
  .isAgreed {
    flex-direction: row;
    margin: 0 auto;
  }
}
