form {
  padding-top: 30px;

  text-align: center;
}

.search-input {
  margin-bottom: 30px;
  padding: 10px 25px 10px 45px;

  background-image: url(https://raw.githubusercontent.com/YuliyaBondar/christmas-data/main/assets/svg/search.svg);
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
}
